.site-history {
  background: $off-white;
  padding: 100px 0;
  overflow: hidden;

  .emphasize {
    color: $text-color-dark;
    font-size: 20px;
  }

  .top-section {
    padding-bottom: 20px;
  }

  .img-container {
    text-align: center;

    img {
      margin: 0.75rem 0;
      max-width: 100%;
      max-height: 300px;
    }
  }

  p {
    color: $text-color;
    // color: $text-color-dark;

    margin: 0.75rem 0;
  }
}